datasets==2.0.0
google-auth==2.6.2
google-auth-oauthlib==0.4.6
grpcio==1.44.0
huggingface-hub==0.4.0
Markdown==3.3.6
nltk==3.6.7
numpy==1.21.4+computecanada
pandas==1.4.0+computecanada
python-dateutil==2.8.2
pytorch-lightning==1.5.10
PyYAML==6.0
rouge_score
sacremoses==0.0.49
sentencepiece==0.1.96
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tokenizers==0.11.6
torch==1.10.0+computecanada
torchmetrics==0.7.2
tqdm==4.63.0
transformers==4.17.0
typing_extensions==4.1.1
